@{
    ViewData["Title"] = "Projektinfo";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p><strong>WLAN-Management-Software von der Weefy AG</strong></p>

<p>Es soll eine Anwendung entstehen, die Schulen bei der Verwaltung Ihrer WLAN-Infrastruktur
unterstützt.</p>
<p>Diese intelligente Management-Lösung wird eine grafische Oberfläche haben und WLAN-
Zugänge und HotSpots verwalten.</p>
<p>Nach Abschluss soll eine grafische Anwendung vorliegen, die es den Lehrern und
Administratoren ermöglicht, zentral über unsere Software Nutzer und Accesspoints zu
verwalten.</p>